*{outline: 1px solid red;}

body {
    background-color: rgb(162, 249, 188);
  }

// $persp: 500px;
// $photo-width: 25vw;
// $photo-height: 8vw;

// .loader{
//     margin: 300px auto;
//     width: 50%;
//     display: flex;
//     flex-direction: column-reverse;
//     align-items: center;
//     justify-content: center;
//     .spinner{
//         position: relative;
//         width: 25vw;
//         height: 25vh;
        & > .gallery__3d{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // perspective: 500px;

            transform-style: preserve-3d;                           /* =========== */
            transform-origin: center bottom (4vw);                  /* =========== */
            transform: rotateX(-90deg);

            animation-name: rotate;
            animation-duration: 1000ms;
            animation-timing-function: cubic-bezier(.7,.01,.23,.99);

            & + .gallery__3d--omf{
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-image: url("images/ohmyfood.png");
                object-fit: cover;
                z-index: 1;
                background-color: salmon;
                // perspective: 500px;
                
                transform-style: preserve-3d;
                transform-origin: center bottom (4vw);
                transform: rotateX(-90deg);
                
                animation-name: rotate;
                animation-duration: 1000ms;
                animation-timing-function: cubic-bezier(.7,.01,.23,.99);
            }
            & + .gallery__3d--rest4{
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
                object-fit: cover;
                z-index: 2;
                
                transform-style: preserve-3d;
                transform-origin: center bottom (4vw);
                // transform: rotateX(-90deg);
                
                animation-name: rotate;
                animation-duration: 1000ms;
                animation-timing-function: cubic-bezier(.7,.01,.23,.99);
            }
            & + .gallery__3d--rest3{
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
                object-fit: cover;
                z-index: 3;
                
                transform-style: preserve-3d;
                transform-origin: center bottom (4vw);
                // transform: rotateX(-90deg);
                
                animation-name: rotate;
                animation-duration: 1000ms;
                animation-timing-function: cubic-bezier(.7,.01,.23,.99);
            }
            & + .gallery__3d--rest2{
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("images/stil-u2Lp8tXIcjw-unsplash-cropped.jpg");
                object-fit: cover;
                z-index: 4;
                
                transform-style: preserve-3d;
                transform-origin: center bottom (4vw);
                // transform: rotateX(-90deg);

                animation-name: rotate;
                animation-duration: 1000ms;
                animation-timing-function: cubic-bezier(.7,.01,.23,.99);
            }
            & + .gallery__3d--rest1{
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
                object-fit: cover;
                z-index: 5;
                
                transform-style: preserve-3d;
                transform-origin: center bottom (4vw);
                // transform: rotateX(-90deg);

                animation-name: rotate;
                animation-duration: 1000ms;
                animation-timing-function: cubic-bezier(.7,.01,.23,.99);
            }
        }
    }
}

@keyframes rotate{
    0% {                                                /* from */
        transform: rotateX(-90deg) translateZ(-10px);
        perspective-origin: 0%;
    }
    100% {                                               /* to */
        transform: rotateX(0deg) translateZ(0);
        perspective: 500px;
    }
}